@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

:root {
	--background: #000;
	--color: #d4d5d5;
	--accent: #890620;
	--btn-color: #890620;
	--btn-border: ;
	--btn-hover-color: #ff4d6d;
	--btn-hover-border: #c9184a;
}

#section {
    border: 1px solid var(--accent);
    padding: 20px 35px 40px 35px;
    border-top: none;border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
body{
	background: var(--background);
	color: var(--color);
}

.btn {
	background-color: var(--btn-color);
	border-color: var(--btn-border);
	color: var(--color);
}
.btn:hover {
	background-color: var(--btn-hover-color);
	border-color: var(--btn-border);
}

#embedding-container {
	display: flex; 
	flex-wrap: wrap;
	justify-content: center;
}

.model-item {
	border: 1px solid var(--accent);
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 10px;
}

.model-tag {
	margin-left: 5px;
	background: red;
	padding: 2px;
	border: 1px solid red;
	border-radius: 3px;
	font-size: 12px;
}

.embedding-item {
	border: 1px solid var(--accent);
	width: 350px;
	padding: 15px;
	padding-bottom: 0;
	margin: 10px;
}
.embedding-item .carousel {
	margin: 15px 0;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators [data-bs-target] {
	background-color: var(--accent);
}

.external-link:after {
	content: "";
	width: 12px;
	height: 12px;
	margin-left: 4px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23FFFFFF' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
}
